.testimonials__container {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	position: relative;
}

.testimonials__image {
	display: block;
	width: 100%;
	height: auto;
}

.testimonials__badge {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
	animation: flip 4s ease-in-out infinite;
	transform-style: preserve-3d;
}

@keyframes flip {
	0% {
		transform: translate(-50%, -50%) rotateY(0deg);
	}

	50% {
		transform: translate(-50%, -50%) rotateY(180deg);
	}

	100% {
		transform: translate(-50%, -50%) rotateY(360deg);
	}
}

.testimonials__content {
	position: relative;
	overflow: hidden;
}

.testimonials__content::before {
	position: absolute;
	content: "";
	inset: 0;
	backdrop-filter: blur(8px);
	background: rgba(114, 50, 7, 0.5);
}

.testimonials__quote {
	position: absolute;
	inset: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.testimonials__quote-icon {
	position: absolute;
	left: 44%;
	top: 15%;
	width: 100px;
	height: 100px;
}

.testimonials__author {
	position: absolute;
	left: 50%;
	top: 77%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.testimonials__text {
	margin: 0;
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 55px;
	color: var(--main-color);
	max-width: 600px;
	line-height: normal;
}

.testimonials__name,
.testimonials__profession {
	font-family: var(--second-family);
}

.testimonials__profession {
	margin-bottom: 11px;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: var(--main-color);
	opacity: 0.7;
}

.testimonials__profession::before {
	content: "";
	position: absolute;
	display: block;
	left: 50%;
	top: -40%;
	width: 83px;
	min-height: 3px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: var(--accent-color);
}

.testimonials__name {
	font-weight: 700;
	font-size: 30px;
	text-align: center;
	color: var(--main-color);
}

.testimonials__footer {
	padding: 60px;
	background-color: var(--secondary-color);
}

@media (width <= 1400px) {
	.testimonials__quote-icon {
		width: 80px;
		height: 80px;
	}

	.testimonials__text {
		font-size: 44px;
		max-width: 550px;
	}
}

@media (width <= 1200px) {
	.testimonials__badge {
		width: 180px;
		height: 180px;
	}

	.testimonials__quote-icon {
		width: 70px;
		height: 70px;
	}

	.testimonials__text {
		font-size: 44px;
		max-width: 500px;
	}

	.testimonials__profession {
		font-size: 16px;
	}

	.testimonials__name {
		font-size: 24px;
	}
}

@media (width <= 1024px) {
	.testimonials__badge {
		width: 140px;
		height: 140px;
	}

	.testimonials__quote-icon {
		width: 50px;
		height: 50px;
	}

	.testimonials__text {
		font-size: 34px;
		max-width: 380px;
	}

	.testimonials__profession {
		font-size: 14px;
		margin-bottom: 6px;
	}

	.testimonials__name {
		font-size: 22px;
	}

	.testimonials__footer {
		padding: 35px;
	}
}

@media (width <= 820px) {
	.testimonials__text {
		font-size: 28px;
	}

	.testimonials__badge {
		width: 115px;
		height: 115px;
	}
}

@media (width <= 768px) {
	.testimonials__badge {
		width: 100px;
		height: 100px;
	}

	.testimonials__quote-icon {
		width: 35px;
		height: 35px;
	}

	.testimonials__text {
		font-size: 20px;
		max-width: 220px;
	}

	.testimonials__profession::before {
		width: 65px;
	}

	.testimonials__profession {
		font-size: 10px;
		margin-bottom: 4px;
	}

	.testimonials__name {
		font-size: 14px;
	}

	.testimonials__footer {
		padding: 30px;
	}
}

@media (width <= 580px) {
	.testimonials__badge {
		width: 85px;
		height: 85px;
	}

	.testimonials__quote-icon {
		width: 28px;
		height: 28px;
	}

	.testimonials__text {
		font-size: 16px;
		max-width: 175px;
	}

	.testimonials__profession::before {
		width: 30px;
	}

	.testimonials__profession {
		font-size: 8px;
	}

	.testimonials__name {
		font-size: 10px;
	}

	.testimonials__footer {
		padding: 15px;
	}
}

@media (width <= 480px) {
	.testimonials__badge {
		width: 80px;
		height: 80px;
	}

	.testimonials__quote-icon {
		width: 22px;
		height: 22px;
	}

	.testimonials__text {
		font-size: 12px;
		max-width: 130px;
	}

	.testimonials__profession::before {
		width: 28px;
	}

	.testimonials__profession {
		font-size: 6px;
	}

	.testimonials__name {
		font-size: 8px;
	}

	.testimonials__footer {
		padding: 0;
	}
}

@media (width <= 392px) {
	.testimonials__quote-icon {
		width: 18px;
		height: 18px;
	}

	.testimonials__text {
		font-size: 10px;
		max-width: 120px;
	}

	.testimonials__profession::before {
		width: 18px;
		min-height: 2px;
	}

	.testimonials__profession {
		font-size: 4px;
		margin-bottom: 4px;
	}

	.testimonials__name {
		font-size: 6px;
	}
}
