* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template-areas:
		"header header"
		"aside main"
		"footer footer";
	grid-template-columns: 500px 1fr;
	grid-template-rows: 150px 1fr 150px;
}

.header {
	grid-area: header;
	background: red;
}

.aside {
	grid-area: aside;
	background: yellow;
}

.main {
	grid-area: main;
	background: green;
	display: grid;
	grid-template-columns: repeat(4, 500px);
	grid-template-rows: repeat(2, 500px);
	gap: 50px;
	justify-content: center;
	align-content: center;
	padding: 50px;
}

.article {
	background: orange;
}

.footer {
	grid-area: footer;
	background: blue;
}
