:root {
	/* font-family */
	--font-family: "Oswald", sans-serif;
	--second-family: "Archivo", sans-serif;

	/* colors */
	--main-color: #ffffff;
	--accent-color: #f47521;
	--bg-color: #141414;

	/* container */
	--container-width-1: 1200px;
	--container-width: 1540px;
	--container-padding: 15px;

	/* header */
	--header-height: 149px;
	--header-height-compact: 89px;
	--header-offset: var(--header-height);

	/* layers */
	--layer-negative: -1;
	--layer-0: 0;
	--layer-1: 1;
	--layer-2: 2;
	--layer-3: 3;

	/* transitions */
	--transition-time: 0.2s;
	--transition-time-2: 0.5s;
}
