.menu__list {
		display: flex;
		align-items: center;
		gap: 30px;
}

.menu__link {
		position: relative;
		display: inline-flex;
		align-items: center;
		font-family: var(--second-family);
		font-weight: 900;
		font-size: 20px;
		color: var(--main-color);
		transition:
				color 0.3s ease,
				transform 0.3s ease;
}

.menu__link {
		white-space: nowrap;
}

.menu__link:hover {
		transform: translateY(-2px);
		color: var(--accent-color);
}
