.experts {
		background-color: var(--secondary-color);
}

.experts__container {
		padding-top: 75px;
		display: flex;
		align-items: center;
		gap: 20px;
}

.experts__content {
		max-width: 650px;
}

.experts__title {
		margin-bottom: 40px;
		position: relative;
		z-index: var(--layer-2);
		width: 900px;
		font-family: var(--second-family);
		font-weight: 900;
		font-size: 42px;
		color: var(--bg-color);
}

.experts__description {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: var(--bg-color);
}

.experts__description p + p {
		margin-top: 20px;
}
