.feedback {
		background-color: var(--secondary-color);
		padding-block: 150px;
}

.feedback__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 145px;
}

.feedback__form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
}

.feedback__title {
		margin-bottom: 50px;
		font-family: var(--second-family);
		font-weight: 900;
		font-size: 42px;
		color: var(--bg-color);
}

.feedback__input {
		padding: 0;
		width: 590px;
		height: 65px;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		color: var(--text-muted);
		background-color: transparent;
		border: none;
		border-bottom: 2px solid var(--text-muted);
		outline: none;
}

.feedback__button {
		width: 277px;
		height: 64px;
		margin-top: 85px;
		margin-bottom: 35px;
		padding: 10px;
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 24px;
		color: var(--main-color);
		background-color: var(--bg-color);
		border-radius: 3px;
		transition:
				background-color 0.3s ease,
				color 0.3s ease,
				border-color 0.3s ease;
}

.feedback__button:hover {
		color: var(--main-color);
		background-color: var(--accent-color);
}

.feedback__text {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: var(--bg-color);
}

.feedback__agreement {
		display: flex;
		align-items: center;
		gap: 12px;
}

.feedback__checkbox {
		appearance: none;
		width: 30px;
		height: 30px;
		flex-shrink: 0;
		border: 1px solid var(--bg-color);
		border-radius: 3px;
		cursor: pointer;
}

.feedback__checkbox:checked {
		background-image: url("../../icons/checkbox.svg");
		background-repeat: no-repeat;
		background-position: center;
}
